page-login {
    .cadastro{
        width: 100%;
        display: block;
        vertical-align: middle;
        text-decoration: underline;
    }   

    div.scroll-content{
        padding-top: 40% !important;
    }

    #logo-login{
        width: 80%;
        margin: 0 10% 20px;
        vertical-align: middle;
    }
}
