page-login {
    .cadastro{
        width: 100%;
        display: block;
        vertical-align: middle;
        text-decoration: underline;
    }   

    div.scroll-content{
        padding-top: 40% !important;
    }

    #logo-login{
        display: block;
        vertical-align: middle;
        margin: 0 0 15px;
        background-color: white;
        width: 100%;
        height: auto;
    }
}
